:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --dark: #333;
    --dark- : #111;
    --light: #EEE;
    --light-: #DDD;
    --primary: #cc0000;
    --secondary: #ffd700;
}
body {
    margin: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: center;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--dark);
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: var(--dark-);
}

nav ul li a.active {
    color: var(--secondary);
    background-color: var(--primary);
}

nav ul li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul li.right, ul li {
        float: none;
    }
}

.circle {
    border-radius: 50%;
}

#logo {
    width: 10rem;
    height: 10rem;
    color: var(--secondary);
    background-color: var(--primary);
}

footer {
    color: var(--light);
    background-color: var(--dark);
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    padding: 0.5rem;
}
