:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --dark: #333;
    --dark- : #111;
    --light: #EEE;
    --light-: #DDD;
    --primary: #cc0000;
    --secondary: #ffd700;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height:100vh;
    margin: 0 1rem;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

header a {
    text-decoration: none;
}

.circle {
    border-radius: 50%;
}

#logo {
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    font-size: 5rem;
    color: var(--secondary);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    vertical-align: center;
    background-color: var(--primary);
}

nav {
    display: block;
    overflow: hidden;
}

nav a {
    display: inline-block;
    color: var(--dark);
    text-align: center;
    padding: 0.8rem;
    text-decoration: none;
    border-radius: 0.5rem;
}

nav a:hover:not(.active) {
    background-color: var(--light-);
}

nav a.active {
    color: var(--secondary);
    background-color: var(--primary);
}

footer {
    padding: 1rem;
}
